[submodule "infrastructure/homelab"]
	path = infrastructure/homelab
	url = git@github.com:devantler/homelab.git
	branch = main
[submodule "infrastructure/oci-artifacts"]
	path = infrastructure/oci-artifacts
	url = https://github.com/devantler/oci-artifacts
	branch = main
[submodule "code/ksail"]
	path = code/ksail
	url = git@github.com:devantler/ksail.git
	branch = main
[submodule "code/dotnet-commons"]
	path = code/dotnet-commons
	url = git@github.com:devantler/dotnet-commons.git
	branch = main
